body {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}
div.container {
  background-image: url('../images/dirt block.png');
  background-color: green;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#scoreboard {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 20%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  color: 	rgba(57, 255, 20, 1);
}
canvas {
  padding-bottom: 50px;
}
